  <%= render :partial => "/common/admin/title_bar.html" , :locals => {:titles => "Battles"} %>
  
  
   
		
<div id="active_admin_content" class="without_sidebar">
<div class="columns">
              <div class="column" style="width: 100.0%;">
                <div class="panel">
                  <h3>battles List<span style="float:right"><%= link_to "Add Battle", new_admin_battle_path %></span></h3>
                  <div class="panel_contents">
                    <div>
																				<% if @battles.blank? %>
																						<table style="width:100%" class="reference">
																									<tbody>
																											<tr>
																											<td>No battles added yet.</td>
																											</tr>
																											<tr>
																											<td><%= link_to "Add Battle", new_admin_battle_path %></td>
																											</tr>
																										</tbody>
																						</table>
																				<% else %>
																				<table style="width:100%" class="reference">
																									<tbody>
																									<tr>
																										<th>Name</th>
																										<th>ITEM-A Vs ITEM-B </th>		
																										<th>ITEM-A COUNT </th>		
																										<th>ITEM-B COUNT</th>		
																										<th>IS PUBLIC</th>		
																										<th>BATTEL IMAGE</th>		
																										<th>BATTEL IMAGE TRIGGERER</th>		
																										<th>Actions </th>		
																									</tr>
																									<% @battles.each do |battle| %>
																									<tr>
																										<td><%= battle.title %></td>
																										<td><img src="<%=!battle.items.blank? ? battle.items.first.asset.url(:thumb) : '/assets/no-asset.jpg'%>"/>VS<img src="<%=!battle.items.blank? ? battle.items.last.asset.url(:thumb) : '/assets/no-asset.jpg'%>"/></td>		
																							 <td>
																								<%= battle.items.first.vote_count if !battle.items.blank?%>
																							 </td>
																								<td>
																								<%=battle.items.last.vote_count if !battle.items.blank?%>
																							 </td>													
																								<td>
																								  <input type="checkbox" value="<%=battle.id%>" <%=battle.is_public == true ? "checked" : "" %> class="is_pub">
																							 </td>					

																								<td>
																								<%if !battle.items.blank?%>
																								<%if battle.items.first.asset.blank? || battle.items.last.asset.blank? %>
																								<%else%>
																												<input type="button" value="Trigger Battle Image" id="main_battle_<%=battle.id%>" class="main_battle_class">
																								<%end%>
																								<%end%>
																							 </td>
																								
																								<td>
																								  <img src="<%=battle.main_asset(:thumb)%>"/>
																							 </td>
																										<td>
																												<%= link_to "show", battle_path(battle) ,:target=>"_blank"%> 
																												<%#= link_to "Delete", admin_battle_path(battle), :confirm => "Are you sure want to delete?", :method => "DELETE" %>
																										</td>
																									</tr>
																									<%end%>
																								</tbody>
																						</table>
																				<% end %>
 
</div>
                    <div>
                  

</div>
                  </div>
                </div>
              </div>
										<div style="clear:both;"></div></div>
										
		</div>
		
		
		<script>
		 $('.is_pub').change(function () {
 
										$.ajax({
														type: "POST",
														url: "<%=battle_is_public_admin_battles_path%>",
														data: { 
														bat: 		 $(this).val(),
														is_pub: 	$(this)[0].checked
														}
												}).done(function( msg ) {
														// Success
												});
       });		

$('.main_battle_class').click(function () {
 
										$.ajax({
														type: "POST",
														url: "<%=create_battle_main_asset_admin_battles_path%>",
														data: { 
														bat: 		 $(this).attr("id").split("_")[2],
														}
												}).done(function( msg ) {
														// Success
												});
       });
		</script>