
<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>



<section class="">
                        <div class="">

 

                            <div class="mp-layout-wrapper">

                                <div style="display: block;" class="mp-layout layout-auto layout-loader">
																																<%if !@first_item.blank? && !@last_item.blank? %>
                                    <div class="mp-box" style="padding-top:65px;padding-bottom: 50px;">
																																				
<h1 itemprop="name" style="color: #555555;font-size: 40px;font-weight: 700;letter-spacing: -1px;line-height: 42px;word-wrap: break-word; margin-left: 196px; width: 780px; padding-bottom: 20px;text-align:center"><%=battle.title%></h1>

		<div style="float: left;margin-left: 130px;padding: 20px;width: 200px;">
																																								<h4 style=" font-size: 24px;font-weight: 700;line-height: 26px;padding-bottom: 20px;"><%=@first_item.title%></h4>
																																								</div>
																																								<div style="float: left;margin-left: 150px;padding: 20px;width: 200px;">
																																								<div id=""></div>
																																								</div>
																																								<div style="float: left;margin-left: 150px;padding: 20px;width: 200px;">
																																										<h4 style=" font-size: 24px;font-weight: 700;line-height: 26px;padding-bottom: 20px;"><%=@last_item.title%></h4>
																																								</div>
																																								
                           									
																																								<div style="width: 99%;border:0px solid;float:left">
																																								
																																								
																																								<div style="background-color: #FFFFFF;box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);height:300px;margin: 1px 0 0 3px;padding-bottom: 5px;padding-left: 0;transition: height 0.1s ease-in-out 0s, margin 0.1s ease-in-out 0s;width:400px;float:left">
																																								<span class="gig-pict-214" style="width:400px;height:304px">
																																								<img width="400" height="304" src="<%=@first_item.asset(:main)%>" data-reload="inprogress" style="width:400px;height:304px"></span>
																																								</div>
																																									<div style="height:300px;margin: 1px 0 0 3px;padding-bottom: 5px;padding-left: 0;transition: height 0.1s ease-in-out 0s, margin 0.1s ease-in-out 0s;width:400px;float:left;background-color:transparent">
																																																				<span class="gig-pict-214" style="width:400px;height:304px;background-color:transparent" id="compare_chart">
																																				<!--				<img width="400" height="304" src="http://dmcec0.fiverrcdn.com/4e5bf73e94a6f629c900461b/4ec6e8d4f325e12dea0008de/thumb-200x123-f.jpeg" data-reload="inprogress" style="width:400px;height:304px">-->
																																				</span>
																																									</div>
																																									<div style="background-color: #FFFFFF;box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);height:300px;margin: 1px 0 0 3px;padding-bottom: 5px;padding-left: 0;transition: height 0.1s ease-in-out 0s, margin 0.1s ease-in-out 0s;width:400px;float:left">
																																																				<span class="gig-pict-214" style="width:400px;height:304px">
																																								<img width="400" height="304" src="<%=@last_item.asset(:main)%>" data-reload="inprogress" style="width:400px;height:304px"></span>
																																									
																																									</div>
																																								
																																								<div style="float: left;margin-left: 100px;padding: 20px;width: 200px;">
																																								<input type="button" data-bonus-order="false" data-gtm-action="main_order" data-gtm-event="order" id="<%=@first_item.id%>" class="btn-standard-lrg js-gig-price disableonclick js-gtm-event js-gig-price-quantity js-gtm-event vote_button" value="Vote Me">
																																								</div>
																																								<div style="float: left;margin-left: 150px;padding: 20px;width: 200px;">
																																								<div id="share_div"></div>
																																								</div>
																																								<div style="float: left;margin-left: 200px;padding: 20px;width: 200px;">
																																								<input type="button" data-bonus-order="false" data-gtm-action="main_order" data-gtm-event="order" id="<%=@last_item.id%>" class="btn-standard-lrg js-gig-price disableonclick js-gtm-event js-gig-price-quantity js-gtm-event vote_button" value="Vote Me">
																																								</div>
																																								
																																								
																																								</div>

                           


																																				
																																				
																																				
																																				
																																				<!--Comments-->
																																				<div style="border:0px solid;float:left; width: 99%;">
																																				
												<article data-json-path="/ratings/ratings_as_json?type=all&amp;size=5" class="mp-gig-review with-gig-sidebar" style="min-height: 246px;width: 45%;margin-right: 1px;;float:left">

                                    <header class="reviews-header cf" style="background-color:#e8e5e1">
																																				
                                        
                                        <div class="reviews-header-general cf">
                                            <h4>Comments For (<%=@first_item.title%>)</h4>
                                        </div>
                                    </header>
<div>
<%if @user.blank?%>
<ul class="reviews-list js-reviews-list cf" style="background-color:white">
				<li><h4 style="color: #3B5998;font-size: 21px;margin-left: 10px;margin-top: 16px;">Please <a href="/users/sign_in">login</a> to Comment </h4></li>
</ul>
<%else%>
<textarea style="width:547px; height: 100px;" id="comment_text_<%=@first_item.id%>"></textarea>
<div style="padding: 10px; margin-left: 439px;">
<input type="button" style="padding: 5px 6px;" data-bonus-order="false" data-gtm-action="main_order" data-gtm-event="order" id="comment_<%=@first_item.id%>" class="btn-standard-lrg js-gig-price disableonclick js-gtm-event js-gig-price-quantity js-gtm-event comment_button" value="COMMENT">
<img src="/assets/loading.gif" id="loading_<%=@first_item.id%>" style="display:none"/>
</div>
<%end%>
</div>

<div id="item_holder_<%=@first_item.id%>">
                                   <%if !@first_item_comments.blank?%>
<%@first_item_comments.each do |first_item_comment| %>
                                <%= render :partial => "/battles/comment_listing.html" , :locals => {:item_comment => first_item_comment} %>
		<%end%>
		<%end%>
		</div>
                                </article>
								
								<article data-json-path="/ratings/ratings_as_json?type=all&amp;size=5" class="mp-gig-review with-gig-sidebar" style="min-height: 246px;width: 45%;margin-right: 1px;float:right">

                                    <header class="reviews-header cf" style="background-color:#e8e5e1">
                                        
                                        <div class="reviews-header-general cf">
                                            <h4>Comments For (<%=@last_item.title%>)</h4>
                                        </div>
                                    </header>
<div>
<%if @user.blank?%>
<ul class="reviews-list js-reviews-list cf" style="background-color:white">
				<li><h4 style="color: #3B5998;font-size: 21px;margin-left: 67px;margin-top: 16px;">Please <a href="/users/sign_in">login</a> to Comment </h4></li>
</ul>
<%else%>
<textarea style="width:547px; height: 100px;"  id="comment_text_<%=@last_item.id%>"></textarea>
<div style="margin-left: 439px;padding: 10px;">
<input type="button" value="COMMENT" class="btn-standard-lrg js-gig-price disableonclick js-gtm-event js-gig-price-quantity js-gtm-event comment_button" id="comment_<%=@last_item.id%>" data-gtm-event="order" data-gtm-action="main_order" data-bonus-order="false" style="padding: 5px 6px;">
<img src="/assets/loading.gif" id="loading_<%=@last_item.id%>" style="display:none"/>
</div>
<%end%>
</div>

<%#=@first_item_comments.inspect%>
<%#=@last_item_comments.inspect%>
<div id="item_holder_<%=@last_item.id%>">
<%if !@last_item_comments.blank?%>
<%@last_item_comments.each do |last_item_comment| %>

                                <%= render :partial => "/battles/comment_listing.html" , :locals => {:item_comment => last_item_comment} %>
		<%end%>
		<%end%>
		</div>
                      <!--              <ul class="reviews-list js-reviews-list cf" style="background-color:white">
																																								<li class="thumb-rating-row first">
        
            <span class="user-pict-50"><img width="50" height="50" src="//cdnec20.fiverrcdn.com/assets/v2_globals/missing-image-50x50-d472a2de168b9d57397f4272c05df3e5.png" class="noscale"></span>
            <h4><a href="/mightymouseaust" rel="nofollow">mightymouseaust</a>
            <span class="rating-date">8 minutes ago</span></h4>
        
        <div class="msg-body">
            <span class="icn-thumb thumbs-up"></span>
            Very Happy with the work so happy I have another job
        </div>
    </li>
																																						</ul>-->
                                </article>
								
																																				
																																				</div>
																																				<!--Comments-->
																																				</div>
                               

																			<%end%>

																								</div>

                         </div>

                        </div>
																								
                    </section>
													
 
			<%if !@first_item.blank? && !@last_item.blank? %>																		
																				<script>
																								$( ".vote_button").click(function() {
																								 $(this).attr("id")
												$.ajax({
														type: "POST",
														url: "<%=vote_battles_path%>",
														data: { ite: $(this).attr("id")}
												}).done(function( msg ) {
														// Success
												});
				});
 
		$( ".comment_button").click(function() {
		var comment_val = $("#comment_text_"+$(this).attr("id").split("_")[1])
		if ($.trim(comment_val.val()) == "")
		{
		alert("You cant post an empty comment")
		}
		else
		{
		
		$(this).hide()
		$("#loading_" + $(this).attr("id").split("_")[1]).show()
												$.ajax({
														type: "POST",
														url: "<%=comment_battles_path%>",
														data: { 
														itm: 		 $(this).attr("id").split("_")[1],
														comment_text: 	comment_val .val()
														}
												}).done(function( msg ) {
														// Success
												});
				}
				});
 

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 400 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10, "%");

var svg = d3.select("#compare_chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
				
				JSONData = [
  { "letter": "<%=@first_item.title%>",   "frequency":"<%=@first_item.vote_count%>"},
  { "letter": "<%=@last_item.title + " "%>",   "frequency": "<%=@last_item.vote_count%>"} 
]

var data = JSONData.slice()
console.log(data)
//~ d3.tsv("data.tsv", type, function(error, data) {
  x.domain(data.map(function(d) { return d.letter; }));
  y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(-40," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      //~ .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      //~ .text("Frequency");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.letter); })
      //~ .attr("width", x.rangeBand())
      .attr("width", 70)
      .attr("y", function(d) { return y(d.frequency); })
      .attr("height", function(d) { return height - y(d.frequency); });
				
				  svg.selectAll(".text")
				 .data(data)
					 .enter().append("text")
     .attr("x", function(d) { return x(d.letter)+20; })
      .attr("y", function(d) { return y(d.frequency) -10; })
      .attr("dy", ".75em")
      .text(function(d) { return d.frequency + " Votes";});


//~ });

function type(d) {
  d.frequency = +d.frequency;
  return d;
}


 $('#share_div').share({
        //~ networks: ['facebook','pinterest','googleplus','twitter','linkedin','tumblr','in1','email','stumbleupon','digg']
        networks: ['facebook','twitter','googleplus']
    });

</script>
<%end%>